
.IntroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    height: 200px;
    width: auto;
    font-size: calc(1.5vh + 1.5vw);
    border: solid;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.typing {
    background: transparent;
    font-size: calc(2vh + 3vw);
}

.mainPoint {
    text-shadow: 2px 2px 4px grey;
}

.border {
    height: 35px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.positionIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.statement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(1vh + .5vw);
    margin-bottom: 50px;
    font-size: calc(1.5vh + 1.5vw);
    text-shadow: .5px .5px 1px grey;
}

.descriptions {
    text-shadow: .5px .5px 1px grey;
}


  