.endBar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        height: 100px;
        width: auto;
        font-size: calc(1.5vh + 1.5vw);
        border: solid;
        background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.clearBG {
    background: transparent;
}
.linkHome:active, 
.linkHome:hover,
.linkHome:visited,
.linkHome:link {
    color: black;
    background: transparent;
    text-decoration: none;
}