.ContactPage {
    margin-top: 350px;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
}

.ContactBox {
    border: solid;
    margin: 0;
    background-color: #9cd4b5;
}

.ContactHeader {
    display: flex;
    justify-content: flex-end;
    margin-right: 300px;
    font-size: calc(3vh + 3vw);
    background-color: #9cd4b5;
}

.ContactSection {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: calc(1.5vh + 1.5vw);
}

@media only screen and (max-width: 1200px){

    .ContactHeader {
        margin-right: 0;
        margin-left: 35px;
        justify-content: flex-start;
    }
}
    
