.ContactPage {
    margin-top: 350px;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
}

.ContactBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    height: 100%;
}

.ContactHeader {
    font-size: calc(3vh + 3vw);
    background: transparent;
}

.ContactSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 25px;
    font-size: calc(1.5vh + 1.5vw);  
}

.contactLinks {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: auto;
    margin-top: 150px;
}

.emailLink {
    background-image: url('./gmail.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(6vh + 6vw);
    height: calc(6vh + 6vw);
    cursor: pointer;
}

.linkedinLink {
    background-image: url('./linkedin.jpg');
    background-position: center;
    background-size: contain;
    background-repeat:  no-repeat;
    width: calc(6vh + 6vw);
    height: calc(6vh + 6vw);
    cursor: pointer;
}

@media only screen and (max-width: 1250px){

    .ContactPage {
        margin-top: 50px;
    }

    .contactLinks {
        flex-direction: column;
        margin: 0;
    }

    .emailLink {
        margin-top: 15px;
        margin-bottom: 25px;
    }
}
    
