.PortfolioPage {
    margin-top: 350px;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
}

.PortfolioBox {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9cd4b5;
}

.PortfolioHeader {
    font-size: calc(3vh + 3vw);
    background-color: #9cd4b5;
}

.PortfolioSection {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 25px;
    font-size: calc(1.5vh + 1.5vw);
}

.container {
    display: flex;
    flex-direction: column;
    font-size: calc(1vh + 1vw);
    font-style: italic;
    list-style-type: none;
    margin-top: 25px;
}

.container > li {
    margin: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.container > li > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
}

.PortProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 25px;
    margin-top: 50px;
    font-size: calc(1vh + 1vw);
}

.project_1,
.project_2,
.project_3,
.project_4,
.project_5 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    height: 200px;
    width: 300px;
    border: solid;
    margin: 5px;
    cursor: pointer;
}

.project_1 {
    background-image: url("./matchChars.png");
}

.project_2 {
    background-image: url("./ngo.png");
}

.project_3 {
    background-image: url("./encode.png");
}

.project_4 {
    background-image: url("./calc.png");
}

.project_5 {
    background-image: url("./learnWords.png");
}



.centerLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover, a:link, a:active {
    color: black;
}

.gitLink {
    margin-top: 15px;
    background-image: url('./github-mark.png');
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 100px;
    border: solid 5px black;
    border-style: dotted;
}

@media only screen and (max-width: 1250px) {

    .PortfolioPage {
        margin-top: 50px;
    }

    .PortfolioBox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: none;
    }

    .PortfolioHeader {
        display: flex;
        justify-content: flex-start;
    }

    .PortProjects {
        display: flex;
        flex-direction: column;
    }
}