.AboutPage {
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

.AboutBox {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.AboutHeader {
    font-size: calc(3vh + 3vw);
    background: transparent;
}

.AboutSection {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    font-size: calc(1.5vh + 1.5vw);
}

.AboutTitle {
    margin-top: 25px;
    margin-bottom: 25px;
}

.davinImage {
    float: left;
    background-image: url("./davin.jpeg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border: solid 5px black;
    display: flex;
    justify-content: flex-start;
}

/* -------------- Video Section ----------------*/

.AboutMe {
    font-size: calc(1.5vh + 1.5vw);
}

.imageControl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.listControl {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}

.listContHeight {
    height: 100%;
}

.h_size {
    height: 100%;
    font-size: 1.75rem;
    text-shadow: .5px .5px 1px grey;
}

.listSize {
    height: 100%;
    font-size: 1.25rem;
    text-shadow: .5px .5px 1px grey;
}


@media only screen and (max-width: 1200px) {
    
    .AboutPage {
        margin-top: 150px;
    }

    .AboutSection {
        flex-direction: column;
        justify-content: center;
    }

    .listContHeight {
        height: 100%;
    }

    .h_size {
        text-align: center;
    }
    
    .listSize {
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {

    .fitList {
        display: flex;
        justify-content: center;
    }


    .li_1,
    .li_2,
    .li_3,
    .li_4,
    .li_5 {
        margin-left: 0;
    }
}