.AboutPage {
    margin-top: 350px;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
}

.AboutBox {
    border: solid;
    margin: 0;
    background-color: #9cd4b5;
}

.AboutHeader {
    display: flex;
    justify-content: flex-end;
    margin-right: 300px;
    font-size: calc(3vh + 3vw);
    background-color: #9cd4b5;
}

.AboutSection {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: calc(1.5vh + 1.5vw);
}

.AboutTitle {
    margin-bottom: 25px;
}

.davinImage {
    background-image: url("./self.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border: solid 5px black;
    display: flex;
    justify-content: flex-start;
}

/* -----------About Me Staircase List -------------*/

.li_1 {
    margin-left: 23%;   
}

.li_2 {
    margin-left: 33%;
}

.li_3 {
    margin-left: 45%;
}

.li_4 {
    margin-left: 60%;
}

.li_5 {
    margin-left: 75%;
}

/* -------------- Video Section ----------------*/

.AboutMe {
    font-size: calc(1.5vh + 1.5vw);
}

.DavinVideo {
    height: 300px;
    margin: 50px 0 0 0;
    border: solid 5px black;
}

@media only screen and (max-width: 1200px) {
    
    .AboutPage {
        margin-top: 150px;
    }
    
    .AboutBox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: none;
    }

    .AboutHeader {
        display: flex;
        justify-content: flex-start;
        
        
    }

    .li_1 {
        margin-left: 2vw;   
    }
    
    .li_2 {
        margin-left: 10vw;
    }
    
    .li_3 {
        margin-left: 20vw;
    }
    
    .li_4 {
        margin-left: 30vw;
    }
    
    .li_5 {
        margin-left: 40vw;
    }

}