/*
                                --------- GLOBAL SETTINGS ---------
*/

* {
  font-family: 'Hina Mincho', serif;
  /* border: solid 5px red;
  box-sizing: border-box; */
  background: #fdfeff;
}

html, body, #root, .App {
  scroll-behavior: smooth;
  height: auto;
  margin: 0;
  scroll-behavior: smooth;
  transition-duration: 8s;
}


.mainPoint {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  font-size: calc(3vh + 3vw);
  word-wrap: break-word;
}

.descriptions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 25px;
    word-wrap: break-word;
    height: 100%;
    font-size: calc(1.5vh + 1.5vw);
}

@media only screen and (max-width: 1200px) {

  .descriptions {
    padding-left: 10%;
    padding-right: 10%;
  }
}

  
